FIREBASE_API_KEY=AIzaSyDIyVBiQKM9sFaOie1Mabvx6uWIq_5G2g4
FIREBASE_APP_ID=1:811952393925:android:4755f7334040c07c702aac
FIREBASE_DATABASE_URL=https://frndom-871ec-default-rtdb.firebaseio.com
FIREBASE_PROJECT_ID=frndom-871ec